body {
    margin: 0;
    background: #ffffff;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

#wrapper {
    width: 360px;
    min-height: 640px;
    margin: 0 auto;
    background: #74cb48;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

#wrapper::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    top: 70px;
    right: -120px;
    border-radius: 50%;
}

header {
    padding: 5%;

}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 900;
}


h1 {
    margin: 0;
    padding: 0 18px;
    color: #fff;
    font-size: 28px;
    font-weight: 900;

}


img {
    width: 240px;
    height: 240px;
    display: block;
    margin: 10px auto 0;
}

p:first-of-type {
    position: relative;
    z-index: 3;
    margin: 0 auto;
}

p:first-of-type::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 280px;
    width: 350px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 22px;
    z-index: -1;
}


p:first-of-type {
    padding: 6px 12px;
    border-radius: 999px;
    color: #008531;
    display: flex;
    justify-content: center;
    font-weight: 800;
    text-transform: capitalize;
}

h2 {
    text-align: center;
    font-size: 16px;
    position: relative;
    color: #008531;
    z-index: 3;
}

h2+p,
h2+p+p,
h2+p+p+p {
    font-size: 12px;
    position: relative;
    z-index: 3;
}

h2+p,
h2+p+p,
h2+p+p+p {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-weight: 700;
    color: green;
    font-size: 16px;
    position: relative;
    z-index: 3;
}

li {
    list-style: none;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
}